@{
    ViewData["Title"] = "Home Page";
}

@* <h4>Ejemplo 1: Alineando Filas</h4> *@
@* <div class="row align-content-center"> *@
@*     <div class="col"> *@
@*         Columna 1 *@
@*     </div> *@
@*     <div class="col"> *@
@*         Columna 2 *@
@*     </div> *@
@*     <div class="col"> *@
@*         Columna 3 *@
@*     </div> *@
@* </div> *@
@* <div class="row align-content-end"> *@
@*     <div class="col"> *@
@*         Columna 1 *@
@*     </div> *@
@*     <div class="col"> *@
@*         Columna 2 *@
@*     </div> *@
@*     <div class="col"> *@
@*         Columna 3 *@
@*     </div> *@
@* </div> *@
@* <div class="row align-content-start"> *@
@*     <div class="col"> *@
@*         Columna 1 *@
@*     </div> *@
@*     <div class="col"> *@
@*         Columna 2 *@
@*     </div> *@
@*     <div class="col"> *@
@*         Columna 3 *@
@*     </div> *@
@* </div> *@
@* *@
@* <hr/> *@
@* *@
@* <h4>Ejemplo 2: alineando las columnas horizontalmente</h4> *@
@* <div class="row"> *@
@*     <div class="col align-content-start"> *@
@*         Columna 1 *@
@*     </div> *@
@*     <div class="col align-content-center"> *@
@*         Columna 2 *@
@*     </div> *@
@*     <div class="col align-self-end"> *@
@*         Columna 3 *@
@*     </div> *@
@* </div> *@
@* *@
@* <hr/> *@
@* *@
@* <h4>Ejemplo 3: Offset (espacios de columnas)</h4> *@
@* <div class="row"> *@
@*     <div class="col-4">Column 1</div> *@
@*     <div class="col-4 offset-4">Column 2</div> *@
@* </div> *@
@* *@
@* <hr/> *@
@* *@
@* <h4>Ejemplo 3: Auto Margen (pegar columna hacia la derecha)</h4> *@
@* <div class="row"> *@
@*     <div class="col-4">Column 1</div> *@
@*     <div class="col-4 ms-auto">Column 2</div> *@
@* </div> *@
@* *@
@* <hr/> *@


<h4>Ejemplo 1: Gutter horizontal</h4>
<div class="row gx-sm-0 gx-md-3 gx-lg-5">
    <div class="col">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>

    <div class="col">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>
</div>

<hr/>

<h4>Ejemplo 2: Gutter vertical</h4>
<div class="row gx-sm-0 gx-md-3 gx-lg-5 gy-1">
    <div class="col-6">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>

    <div class="col-6">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>

    <div class="col-6">
        <div class="bg-light border">
            Columna 3
        </div>
    </div>

    <div class="col-6">
        <div class="bg-light border">
            Columna 4
        </div>
    </div>
</div>

<hr/>
<h4>Ejemplo 3: Gutter vertical y horizontal</h4>
<div class="row g-3">
    <div class="col-6">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>

    <div class="col-6">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>

    <div class="col-6">
        <div class="bg-light border">
            Columna 3
        </div>
    </div>

    <div class="col-6">
        <div class="bg-light border">
            Columna 4
        </div>
    </div>
</div>